body {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #51ea8e;
  }


.heading{
    text-align: center;
    font-size: 22px;
    padding: 40px;
    color: rgb(26, 49, 163);
}

.card {
    background-color:rgb(207, 210, 231);
}


.card-body{
    color: rgb(207, 210, 231);
    background-color: white;
}

textarea.editor-textarea {
    height: 100%;
    overflow: auto;
    resize: none;
}
iframe#preview-panel {
    width: 100%;
    height: 100%;
    overflow: auto;
}

